############################
# Dependencias
############################
/vendor/
/node_modules/

############################
# Entorno
############################
.env
.env.*
!.env.example

############################
# Logs
############################
*.log

############################
# Laravel storage (runtime)
############################
/storage/app/*
!/storage/app/.gitkeep

/storage/framework/*
!/storage/framework/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

############################
# Builds
############################
/public/build/
/public/hot

############################
# Cache / runtime
############################
bootstrap/cache/*
!bootstrap/cache/.gitkeep

############################
# Keys
############################
/storage/*.key

############################
# Backups y archivos pesados
############################
*.zip
*.tar
*.tar.gz
*.7z

############################
# IDEs
############################
.vscode/
.idea/
.phpstorm.meta.php

############################
# Sistema
############################
.DS_Store
Thumbs.db

############################
# Archivos sueltos del proyecto
############################
allfiles.txt
cls
FETCH_HEAD